# frozen_string_literal: true

class Day<%= day_name %>
  def initialize
    @input = File.readlines('./<%= day_name %>/input.txt')
  end

  def part1
    # TODO: Write your solution here
  end

  def part2
    # TODO: Write your solution here
  end
end
